.main {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    /* align-self: baseline; */
    align-items: center;
    cursor: pointer;
}

.imgContainer {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 20px 5px lightgrey;
    height: 200px;
    width: 200px; 
    
    position: relative;
}

.imgContainer:hover {
    transform: scale(1.1);
    transition: .5s ease;
}

.imgContainer:hover .centeredText {
    visibility: visible;
    transition: 1s ease;
}

.centeredText{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    background-color: orange;
    color: white;
    visibility: hidden;    
}

.imgSelf {
    height: 100%;
    width: 100%;
}