.antd_form {
    /* background-color: burlywood; */
    background-color: white;
    padding: 1px 50px;
    border-radius: 5px;
    /* box-shadow: 1px 1px 100px 1px gray; */
    box-shadow: 1px 1px 30px 1px lightgray;
}

.form {
    width: 250px;
}

/* .input {
} */


/* h3 { */
#su {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.small {
    text-align: center;
}

.grid {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
}

.inputStatic {
    position: fixed;
    right: 80px;
    top: 100px;
    display: flex;
}

/* .inputStatic, */
.inputStatic input{
    padding: 10px;
    /* size: 50px; */
    font-size: 50px;
    /* width: 50px; */
    width: 30px;
    outline: none;
    border: 0;
    border-bottom: 2px solid lightgray;
}
.inputStatic input:focus{
    outline: none;
}

.float {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Make the container full-height */  
}
