
.navbar{
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: column;

    /* margin: 0 20px; */
}

.navbarMargin{
    margin: 0px 80px;
    padding-bottom: 10px;
    /* margin: 8px 80px; */
}

.upperNavbar {
    display: flex;
    flex-direction: row;
    /* background-color: var(navbar-color); */
    /* background-color: palevioletred; */

    justify-content: space-between;

    /* justify-content: space-around; */
}
.upperNavbarUl{
    display: flex;
    justify-content: space-between;
    /* margin: 5px 10px; */
    align-items: center;
}

.upperNavbarUl li{
    margin: 0 10px;
}

.upperNavbarUl li a{
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.lowerNavbar{
    display: flex;
    align-items: center;
    /* background-color: red; */
    
    /* justify-content: center; */

    /* justify-content: space-between; */
}

.lowerNavbar h3{
    color: white;
    /* font-size: 50px; */
    font-size: 40px;
    font-weight: 600;
    /* letter-spacing: -5px; */
    letter-spacing: -3px;

}

.lowerNavbar input{
    /* margin-left: 40px; */
    margin-left: 30px;
    /* margin: 0 20px; */
    /* padding: 5px 20px; */
    /* padding: 5px 0; */
    padding: 10px 0;
    /* padding-left: 10px; */
    padding-left: 15px;
    /* padding: 5px 0; */
    width: 700px;
    /* width: 600px; */

    /* border-radius: 10px; */

    color: black;
}

.lowerNavbar input:focus{
    outline: none;
}

.LNImg{
    /* filter: grayscale(100%); */
    filter: opacity(var(--value, 100%)); --value: 50%;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .23);
    color: white;
    padding: 0 5px;
    /* border-radius: 5px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.smallLogo{
    /* margin: 2px 4px; */
    margin: 4px 6px 4px 0px;
    background-color: aquamarine;
    border-radius: 5px;
    height: 22px;
    width: 22px;
}

.inputSearch{
    position: relative;
}
.logog {
    height: 20px;
    width: 20px;
}

.searchLogo {
    position: absolute;
    /* top: -4px; */
    top: -6px;
    right: -5px;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 20%;
    background-color: rgba(247, 192, 90, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;

}
/* 
.searchLogo {
    position: absolute;
    top: -4px;
    right: -5px;
    padding: 5px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-left: 10px;
}
.signUpLogIn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-weight: bold;
}
.webLogo {
    display: flex;
}

.sideLogo{
    display: flex;
    align-items: center 
}

.sideLogo h4{
    margin: 0 5px;
}
